/* componsnts/list/filter.tsx */
.list-filter-tab {
  display: flex;
  padding: 0.25rem;
  gap: 1rem;
  background:#fff;
  white-space: nowrap;
  overflow-x: scroll;
  border-top: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);
  position: relative;
  z-index:10;
}

.list-filter-tab fieldset div {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--main-border-color);
}
.list-filter-tab fieldset div ~ div {
  margin-left: 1rem;
}
.list-filter-tab fieldset div :where(input[type=button], button) {
  vertical-align: middle;
  cursor: pointer;
  
}
.list-filter-tab fieldset div button {
  display: none;
}
.list-filter-tab fieldset div button.active {
  display: inline-block;
}

.list-filter-tab fieldset div.special input[type=button] {
  color: blue;
}